body {
  color: #5a5a5a;
  background-color: #f8f9fa!important;
}

.base {
  padding: 1rem 1rem;
  text-align: center;
}

.logo {
    width: 8%;
}

.card {
    width: 100%;
}

.lead {
    margin-right: 10%;
}

.meme {
    max-height: 400px;
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.meme-container {
    padding-top: 10px;
}

.meme-section {
    display: flex;
    justify-content: center;
}

.meme-title-container{
    margin-left: auto;
}

.button-navigation {
    height: 95%;
}

.button-navigation.right {
    padding-right: 10%;
    margin-left: 10px;
}

.button-navigation.left {
    padding-left: 10%;
    margin-right: 10px;
}

.btn-share {
    background-color: orange;
    border-color: orange;
}

.spinner-container {
    text-align: center;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.btn-user {
    float: right;
    margin-top: 10px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* Footer
-------------------------------------------------- */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #5a5a5a;
    color: #f8f9fa;
}
