<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meme Gallery</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font.awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% load static %}
    {% load socialaccount %}
</head>
<body>

    <main role="main" class="container">
        {% csrf_token %}
        <div class="base">
            <h2><img class="logo" id="logo" src="{% static 'images/logo.png' %}" alt="Meme Gallery Logo">Meme Gallery</h2>
            <small class="lead">Dank memes only.</small>
        </div>
        <div class="row featurette rounded">
            <div class="col-md-10 meme-title-container">
                <h3><i class="fa fa-quote-left"></i> <a id="meme-title" href="{{ image.meme.url }}" target="_blank">{{ image.meme.title }}</a> <i class="fa fa-quote-right"></i></h3>
                <p><b>Source <i class="fa fa-external-link"></i></b>: <a id="meme-source" href="http://{{ image.meme.website.url }}" target="_blank">{{ image.meme.website.url }}</a></p>
            </div>
            <div class="col-md-12 meme-section">
                <button id="button-previous" type="button" class="btn btn-light button-navigation left float-left"><i class="fa fa-chevron-left"></i></button>
                <div class="card mb-4 box-shadow float-left">
                    <div class="meme-container">
                        <img class="card-img-top rounded meme" id="meme-image" src="{{ image.url }}" alt="{{ image.meme.title }}">
                        <div id="loading-spinner" class="spinner-container" style="display:none">
                            <i class="fa fa-spinner fa-spin"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button id="button-upvote" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="left" title="Up-vote this meme"><i class="fa fa-chevron-up"></i></button>
                                <button id="rating" type="button" class="btn-outline-{% if image.meme.rating < 0 %}danger{% else %}primary{% endif %} disabled" data-toggle="tooltip" data-placement="top" title="Meme rating">{{ image.meme.rating }}</button>
                                <button id="button-downvote" type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Down-vote this meme"><i class="fa fa-chevron-down" ></i></button>
                                <button id="button-favourite" type="button" class="btn btn-warning" data-toggle="tooltip" data-placement="right" title="Add this meme to your favourites"><i class="fa fa-star"></i></button>
                            </div>
                            <div class="btn-group">
                                <button id="button-flag" type="button" class="btn btn-info" data-toggle="tooltip" data-placement="left" title="Flag this meme"><i class="fa fa-flag"></i></button>
                                <button id="button-share" type="button" class="btn btn-warning btn-share" data-toggle="tooltip" data-placement="right" title="Share this meme"><i class="fa fa-share-alt"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="button-next" type="button" class="btn btn-light button-navigation right float-left"><i class="fa fa-chevron-right"></i></button>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            © Meme Scraper 2018
            {% if user.is_authenticated %}
            <a href="{% url 'account_logout' %}"><button type="button" class="btn btn-info btn-user"><i class="fa fa-user"></i> Log out</button></a>
            {% else %}
            <a href="{% provider_login_url 'google' %}"><button type="button" class="btn btn-outline-success btn-user"><i class="fa fa-google-plus-square"></i> Log in</button></a>
            {% endif %}
        </div>
    </footer>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% if image %}
    <script>current_meme_id = {{ image.id }};</script>
    {% endif %}
</body>
</html>